<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>SENAIzinho</title>
    </head>
    <body>
        <header>
            <h1>SENAIzinho</h1>
                <li><a href="Index.cshtml">Home</a></li>
                <li><a href="cadastro.html" class="active">Cadastro</a></li>
                <li><a href="Login.cshtml">Login</a></li>
                </nav>
            </div>
        </header>
            @RenderBody()
        <footer>
            <address>
                <div class="footer">
                    Avenida de Limeira, 539 - Campos Elíseos - SP
                    <br>
                    senaizinho@email.com
                    <br>
                    <div class="footer">
                    Facebook: SENAI
                    <br>
                    Telefone:4002-8922
                    </div>
                </div>
        </footer>
    </body>
</html>