<main>
    <section id="nossa-historia">
        <h2>Nossa História</h2>
        <div class="nossa-historia">
        <img src="/img-exp/homem.png" title="Donos do Galpão" alt="Imagem dos Donos do galpão fazendo pose">
        <p>O galpão Rolê Top foi criado em 2015 por Alexandre Hiroshi e Cesar Sportore. Donos de uma hamburgueria chamada Mc Bonald’s, decidiram abrir
            um galpão de eventos após o incrível sucesso de sua hamburgueria pelo público mais jovem que se interessava bastante por tais eventos.</p>
        </div>
    </section>

    <section>
        <div class="espaco">
        <h2>Espaço</h2>
        <div class="espaco-1">
            <div class="dimensoes">
                <h3>Dimensões</h3>
                    <ul>
                        <li>150m x 40m</li>
                        <li>Possui capacidade de até 400 pessoas</li>
                        <li>Capaidade de 300 cadeiras e 120 mesas</li>
                    </ul>
            </div>

            <div class="infraestrutura">    
                <h3>Infraestrutura</h3>
                <ul>
                    <li>Iluminação</li>
                    <li>Sistema de som</li>
                    <li>Espaço para camarim</li>
                    <li>Toalete feminino e masculino</li>
                </ul>
            </div>
        </div>
        <div class="espaco-2">
            <div class="mobiliario">
            <h3>Mobiliário</h3>
                <p>Não temos disponível mesas, cadeiras e buffet</p>
            </div>

            <div class="equipe">
            <h3>Equipe</h3>
                <p>Equipe de limpeza - incluso no aluguel</p>
            </div>
        </div>

        <div class="mais-info">
            <p>Nosso espaço atende qualquer tipo de evento, tendo lugar para cadeiras 
                    mesas, pista de dança e buffet (estes itens não estão inclusos). 
                    Os cômodos são climatizados por sistema de ar condicionado e possuem 
                    acesso para deficientes. Nosso aluguel mínimo é de 10.000 reais, porém 
                    o valor pode mudar com os serviços opcionais (som e iluminação).</p>
            </div>
        </div>
    </section>

    <section id="imagens-local">
        <div class="img-4">
            <img id="lug-1" src="/img-exp/00001.png" title="Imagem do galpão" alt="Imagem número 1 do galpão">
            <img id="lug-2" src="/img-exp/00002-sobre.png" title="Imagem do galpão" alt="Imagem número 2 do galpão">
            <img id="lug-3" src="/img-exp/00003.png" title="Imagem do galpão" alt="Imagem número 3 do galpão">
            <img id="lug-4" src="/img-exp/00004.png" title="Imagem do galpão" alt="Imagem número 4 do galpão">
        </div>
        <img id="lug-5" src="/img-exp/Capturar.png" title="Planta baixa do galpão" alt="Imagem da planta baixa do galpão">
    </section>
</main>