<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>João Victor Teixaira da Silva</title>
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>

    <body>
        <header>
            <h1>João Victor Teixeira da Silva</h1>
            <nav>
                <ul> 
                    <li><a href="index.html#sobre mim">Sobre mim</a></li>
                    <li><a href="index.html#inspiracoes">Minhas Inspirações</a></li>
                    <li><a href="index.html#filmes-favoritos">Filmes Favoritos</a></li>
                </ul>
            </nav>
        </header>
            @RenderBody()
        <hr>

        <footer>
            <address>
                <p>E-mail: joão_peko@outlook.com</p>
                <p>instagram: jao_teixeira</p>
            </address>
        </footer>
    </body>
</html>
