<main>
    <section id="banner">
        <img src="img/banner.png">
    </section>

    <section id="sobre">
        <h2>Sobre</h2>
        <div class="sobre">
            <img src="img-exp/galpão-sobre.png" title="Imagem do Galpão" alt="Foto do Galpão">
                <div class="sobre-2">
                <p><img src="img-exp/regua.png">6000 m²</p>
                <p><img src="img-exp/pessoas 2.png">400 pessoas</p>
            </div>
            <div class="sobre-2">                   
                <p><img src="img-exp/cadeira.png">200 cadeira e 120 mesas</p>
                <p><img src="img-exp/sifrão.png">R$ 10000</p>
            </div>
        </div>
    </section>

    <section id="eventos">
        <h2>Eventos</h2>
        <div class="eventos">
            <p><img src="img-exp/icone casamento.png">Casamento</p>
            <p><img src="img-exp/15 2,0.png">Debutante</p>
            <p><img src="img-exp/festa.png">Festas/Aniversario</p>
        </div>
        <div class="eventos">
            <p><img src="img-exp/icone formatura.png">Formatura</p>
            <p><img src="img-exp/icone corporativo.png">Corporativo</p>
            <p><img src="img-exp/ticket.png">Show</p>
        </div>
    </section>

    <section id="alugue-aqui">
        <a asp-controller="Cliente" asp-action="Login">
        <img src="img-exp/logo cortado.png">
        <p><strong>Alugue aqui</strong></p>
        </a>
    </section>
</main>