<main>
    <h2>Bem-vindo ao SENAIzinho!!!<h2>
    <p>Essa é uma escola anarquista porque não compactuamos com as escolas padrões desse brasil 
        <br>
        pois a escola foi uma invenção da burguesia para democratizar o conhecimento.
        <br>
        Mensalidades de 2850,00. <strong>Venha estudar com a gente!<strong>
        <p>
    <div id="link-cadastro">
        <a href='@Url.Action("Index", "Cadastro")'> Quero me Cadastrar </a>
    </div>
</main>