<main>
    <h2>Login</h2>
    <form method="GET" action="cadastro-evento.html">
        <div>
            <label for="email">E-mail</label>
            <br>
            <input id="email" type="email">
        </div>

        <div>
            <label for="senha">Senha</label>
            <br>
            <input id="senha" type="password">
        </div>

        <input type="submit" value="Entrar">
    </form>

    <h2>Cadastre-se</h2>
    <form method="GET" action="cadastro-evento.html">
        <div>
            <label for="nome">Nome Completo</label>
            <br>
            <input id="nome" type="text" maxlength="30" minlength="3">
        </div>

        <div>
            <label for="email">E-mail</label>
            <br>
            <input id="email" type="email">
        </div>

        <div>
            <label for="telefone">Telefone</label>
            <br>
            <input id="telefone" type="text">
        </div>

        <div>
            <label for="senha">Senha</label>
            <br>
            <input id="senha" type="password">
        </div>

        <div>
            <label for="senha">Confirmar Senha</label>
            <br>
            <input id="senha" type="password">
        </div>

        <input type="submit" value="Cadastrar">
    </form>

    <div class="area-adm">
        <h2>Área do Admnistrador</h2>
    </div>
    <div class="form-adm">
    <form method="GET" action="cadastro-adm.html">
            <input type="submit" value="Entrar">
    </form>
    </div>
</main>