<main>
    <h2>Login</h2>
    <form method="GET" action="cadastro-evento.html">
        <div>
            <label for="email">E-mail</label>
            <br>
            <input id="email" type="email" name="email">
        </div>

        <div>
            <label for="senha">Senha</label>
            <br>
            <input id="senha" type="password" maxlength="20" minlength="6" name="senha">
        </div>

        <input type="submit" value="Entrar">
    </form>

    <h2>Cadastre-se</h2>
    <form method="POST" action='@Url.Action("CadastrarCliente", "Cliente")'>
        <div>
            <label for="nome">Nome Completo</label>
            <br>
            <input id="nome" type="text" maxlength="30" minlength="3" name="nome">
        </div>

        <div>
            <label for="email">E-mail</label>
            <br>
            <input id="email" type="email" name="email">
        </div>

        <div>
            <label for="data-nascimento">Data de Nascimento</label>
            <br>
            <input id="data-nascimento" type="date" name="data-nascimento">
        </div>

        <div>
            <label for="telefone">Telefone</label>
            <br>
            <input id="telefone" type="text" placeholder="11 1234-5678" maxlength="12" minlength="10" name="telefone">
        </div>

        <div>
            <label for="senha">Senha</label>
            <br>
            <input id="senha" type="password" maxlength="20" minlength="6" name="senha">
        </div>

        <div>
            <label for="senha">Confirmar Senha</label>
            <br>
            <input id="senha" type="password" maxlength="20" minlength="6" name="confirmar-senha">
        </div>

        <input type="submit" value="Cadastrar">
    </form>

    <div class="area-adm">
        <h2>Área do Admnistrador</h2>
    </div>
    <div class="form-adm">
    <form method="GET" action="cadastro-adm.html">
            <input type="submit" value="Entrar">
    </form>
    </div>
</main>