<main>
    <section id="fotos-eventos">
        <h2>Eventos</h2>
        <h3>Casamento</h3>
            <div class="evento-1">
                <img src="img-exp/casamento 1.png" title="Evento casamento">
                
                <img src="img-exp/casamento 2.png" title="Evento casamento">
            <h3>Formatura</h3>
                <img src="img-exp/formatura 1.png" title="Evento formatura">
                <img src="img-exp/formatura 2.png" title="Evento Formatra">
            </div>
            <h3>Aniversário/Festa</h3>
                <img src="img-exp/festa 1.png" title="Evento Aniversário">
                <img src="img-exp/festa 2.png" title="Evento Festa">
            <h3>Shows</h3>
                <img src="img-exp/show 1.png" title="Evento show">
                <img src="img-exp/show 2.png" title="Evento show">
            <h3>Debutante</h3>
                <img src="img-exp/debutante 1.png" title="Evento debutante">
                <img src="img-exp/debuante 2.png" title="Evento debutante">
            <h3>Corporativo</h3>
                <img src="img-exp/corporativo 1.png" title="Evento corporativo">
                <img src="img-exp/corporativo 2.png" title="Evento corporativo">
    </section>
</main>