<main>
    <h2>Cadastre seu Evento</h2>
    <form method="POST" action='@Url.Action("Agendar", "Agenda")'>
        <div>
            <label for="nome">Nome Completo</label>
            <br>
            <input id="nome" type="text" maxlength="30" minlength="3" name="nome" required>
        </div>

        <div>
            <label for="email">E-mail</label>
            <br>
            <input id="email" type="email" name="email" >
        </div>

        <div>
            <label for="telefone">Telefone</label>
            <br>
            <input id="telefone" type="text" placeholder="11 1234-5678" maxlength="12" minlength="10" name="telefone">
        </div>

        <div >
            <label for="data">Data</label>
            <br>
            <input id="data" type="date" name="data" required>
        </div>

        <div>
            <label for="hora">Horário</label>
            <br>
            <input id="hora" type="time" name="horario">
        </div>

        <div class="double-field">
            <div>
                <label for="tipo-evento">Tipo de Evento</label>
                <br>
                <select id="tipo-evento" name="tipo-evento" required>
                    <option value="" disabled selected>Selecione</option>
                    <option>Privado</option>
                    <option>Público</option>
                </select>
            </div>
            <div>
                <label for="evento">Evento</label>
                <br>
                <select id="evento" name="evento" required>
                    <option value="" disabled selected>Selecione</option>
                    <option>Casamento</option>
                    <option>Formatura</option>
                    <option>Aniversário/Debutante</option>
                    <option>Festas</option>
                    <option>Corporativo</option>
                    <option>Show</option>
                </select>
            </div>
            <div>
                <label for="pf-pj">Pessoa física ou jurídica</label>
                <br>
                <select id="pf-pj" name="pf-pj">
                    <option value="" disabled selected>Selecione</option>
                    <option>Pessoa Física</option>
                    <option>Pessoa Jurídica</option>
                </select>
            </div>
        </div>

        <div>
            <label for="cpf">CPF ou CNPJ</label>
            <br>
            <input id="cpf" type="text" placeholder="Ex:123-456-789-0" name="cpf" required>
        </div>

        <div>
            <label for="descricao">Descrição do Evento</label>
            <br>
            <textarea cols="60" rows="7" placeholder="Ex: número de convidados, atrações, descrição do evento, etc." name="descricao" required></textarea>
        </div>

        <div class="box-servicos">
            <label id="servicos" for="servicos">Serviços a disposição (opcional)</label>
            <br>
            <input id="servicos-som" type="checkbox" value="som" name="servicos">Som<br>
            <input id="servicos-luz" type="checkbox" value="iluminação" name="servicos">Iluminação<br>
        </div>

        <div>
            <label for="pagamento">Forma de pagamento</label>
            <br>
            <input id="pagamento" type="text" name="pagamento" required>
        </div>

        <div>
            <input id="total" type="text" placeholder="Total: R$10.000" name="total" disabled>
        </div>

        <div>
            <input id="servicos-condicoes" type="checkbox" required>Concordo e aceito os serviços e condições da empresa (Ler)<br>
        </div>

        <p><a href="">Imprimir Boleto</a></p>
        <input type="submit" value="Alugar">
    </form>
</main>