body {
    background-color: #93005f;
}

main {
    align-self: center;
    width: 40%;
    padding: 0 0 0 45em;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

h2 {
    font-size: 1.8em;
    padding: 1em 0 0 0;
}

table {
    text-align: left;
    color: #000;
    border: 2px solid #000;
    width: 100%;
    padding: 2px;
    word-break: normal;
}

table th {
    background-color:#ffc600;
}

table a {
    text-decoration: none;
    color: #ffc600;
}

table a:hover {
    text-decoration: underline;
}

.area-adm {
    color: #ffc600;
}

form * {
    margin: 5px 0;
    text-align: left;
    overflow: hidden;
}

form input[type="email"] {
    width: 55%;
    height: 25px;
    border: none;
    text-align: left;
    padding: 0 2px;
}

form input[type="password"] {
    width: 30%;
    height: 25px;
    border: none;
    text-align: left;
    padding: 0 2px;
}

form input#data-nascimento{
    width: 30%;
    height: 25px;
    border: none;
    text-align: left;
    padding: 0 2px;
}

form input#nome {
    width: 55%;
    height: 25px;
    border: none;
    text-align: left;
    padding: 0 2px;
}

form input#telefone {
    width: 30%;
    height: 25px;
    border: none;
    text-align: left;
    padding: 0 2px;
}

form input[type="submit"] {
    background-color: #ffc600;
    border: 2px solid #000;
    color: #000;
    font-weight: bold;
    font-size: 1.1em;
    padding: 0 2em;
    height: 2em;
    border-radius: 4px;
    text-align: center;
    margin: 0 0 2em 0;
}

form input[type="submit"]:hover {
    background-color: #7d0093;
    color: #ffcc00;
    border: 1px solid #7d0093;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-weight: bolder;
}

form input#data {
    height: 27px;
    border: none;
    text-align: left;
    padding: 0 2px;
}

form input#hora {
    height: 25px;
    border: none;
    text-align: left;
    padding: 0 2px;
}

form input#tipo-evento {
    height: 40px;
    border: none;
    text-align: left;
    padding: 0 2px;
}

form input#evento {
    height: 28px;
    border: none;
    text-align: left;
    padding: 0 2px;
}

form input#pf-pj {
    height: 28px;
    border: none;
    text-align: left;
    padding: 0 2px;
}

form input#cpf {
    width: 30%;
    height: 25px;
    border: none;
    text-align: left;
    padding: 0 2px;
}

select {
    width: 20%;
    height: 28px;
}

.box-servicos {
    padding: 2px 4px;
}

.box-servicos label {
    border-bottom: 2px solid #000;
}

form input#pagamento {
    width: 33%;
    height: 25px;
    border: none;
    text-align: left;
    padding: 0 2px;
}

form input#total{
    width: 33%;
    height: 25px;
    color: #000;
}

form input#servicos-condicoes {
    margin: 1em 1em 0 0;
    text-align: center;
}

.form-adm {
    margin: 0.4em 0 2em 0;
}

form a {
    color: rgb(39, 39, 202);
    font-size: 1.2em;
}

@media (max-width: 1400px){
    main{
        padding: 0 0 0 35em;
    }
}

@media (max-width: 1150px){
    main{
        padding: 0 0 0 28em;
        width: 65%;
    }
}

@media (max-width: 900px) {
    main {
        padding: 0 0 0 18em;
        width: 70%;
    }
}

@media (max-width:800px) {
    main {
        padding: 0 0 0 -12em;
        width: 70%;
    }
}

@media (max-width:680px) {
    main {
        padding: 0 0 0 14em;
    }
}

@media (max-width: 600px) {
    main {
        padding: 0 0 0 6em;
        width: 75%;
    }
    select{
        width: 25%;
    }
}